<h1>Your Registered Applications</h1>
<%= link_to 'Track an App',  new_registered_application_path, class: 'editAppLink alignRight'%>
  <% @reg_apps.each do |reg_app| %>
	<div class="regAppList">
      <p><%= link_to reg_app.name, reg_app, class: 'appLinks' %></p>
	  <p><%= reg_app.url %></p> 
	</div>
  <% end %>