<h1>RegisteredApplications#show</h1>
<p>Find me in app/views/registered_applications/show.html.erb</p>
<%= link_to 'Edit Current App', edit_registered_application_path %>
<%= @registered_application.name %>
<%= @registered_application.URL %>